.updateName {
    width: 154px;
    text-align: center;
}

.updateSex {
    width: 154px;
    text-align: center;
}

.updateGrade {
    width: 154px;
    text-align: center;
}

.updateTelephone {
    width: 154px;
    text-align: center;
}

.updateQQ {
    width: 132px;
    text-align: center;
}

.updateEmail {
    width: 242px;
    text-align: center;
    height: 29px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #cbcbcb;
}

.updateName, .updateSex, .updateGrade, .updateTelephone, .updateQQ {
    height: 29px;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #cbcbcb;
}

.updateTitle {
    font-family:  Helvetica,  Arial, sans-serif;
    color: #444444;
}