/* 全局与覆写purecss库*/

html {
    font-family: Arial, '微软雅黑', Helvetica, sans-serif;
}

.pure-menu li a, .pure-menu .pure-menu-heading {
    color: #fff;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.pure-menu .pure-menu-selected a {
    color: #fff;
    background-color: #2980b9;
}

.pure-menu li a:hover, .pure-menu li a:focus {
    background-color: #2980b9;
}

.pure-table td, .pure-table th {
    padding: 8px 12px;
}

.container-center {
    width: 70%;
    margin: 0 auto;
}

#header {
    font-size: 1.2em;
    background-color: #2d313d;
    margin-bottom: 5px;
    padding: 0 10px;
}

#footer {
    padding: 10px 0;
    color: white;
    background-color: #2d313d;
}

#footer p {
    text-align: center;
    margin: 10px 0;
}
