html,body{
	height: 100%;
	margin:0;
	padding:0;
}
#ContactContent{
    height:100%;
    margin-left: 15%;
    margin-right: 15%;
    width:70%;
}


#search{font-size: 14px;}
#search_remind{
	border:1px solid #817FB2; 
	position:absolute;
	 display:none;}

.hidden{
	display: none;
}
