.lateRecord
{
	float:right;
	border-radius:20px;
}

#nextweekButton
{
	float:right;
	border-radius:20px;
}

#loginCheck
{
	margin:0 auto;
	width:150px;
}

.loginButton
{
	position:relative;
	left:50px;
	border-radius:20px;
	width:100px;
}

.duty-table
{
	width:100%;
	text-align:center;
}
.dutyContent{
	border: 1px solid black;
	margin-bottom: 40px;
}

