.lateRecord
{
	float:right;
	border-radius:20px;
}

#nextweekButton
{
	float:right;
	border-radius:20px;
}

.login
{
	position:relative;
	margin-top:40px;
	left:40%;
}

.loginButton
{
	position:absolute;
	left:5%;
	border-radius:20px;
}

.duty-table
{
	width:100%;
	text-align:center;
}
.dutyContent{
	border: 1px solid black;
}
